<div class="projects_wrapper">
  <p>
    <b>Name:</b>
    <%= @project.name %>
  </p>

  <p>
    <b>Content:</b>
    <%= @project.content %>
  </p>

  <p>
    <b>Blurb:</b>
    <%= @project.blurb %>
  </p>

</div>