// Place all the styles related to the Forums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$colour_four: #913533;

h1 {
	display: block;
	font-size: 2em;
	margin: 5px 0 15px 0;
	font-weight: bold;
}

.forum_wrapper {
	background-color: #eeeeee;
	color: #333333;
	margin: 0;
	padding: 15px;
	a {
		color: #444444;
		&:hover {color: #913533;}
	}
}

.forum_table {
	width: 100%;
	border-collapse: collapse;
	th {
		text-align: left;
	}
	.forum_def_row {
		h4 {
			a {
				color: #eeeeee;
				&:hover {color: darken(#eeeeee, 0.3);}
			}
		}
	}
}

.forum_def_row {
	background-color: $colour_four;
	border-right: 1px solid #333333;
	color: #eeeeee;
}

.forum_norm_row {
	td {border: 1px solid #333333;}
}

h4 {
	margin: 0 0 0 5px;
	font-size: 1em;
}
h5 {
	margin: 0 0 0 5px;
	font-size: 0.8em;
}

.forum_nav {
	height: 20px;
	width: 100%;
	background-color: $colour_four;
	list-style-type: none;
	margin: 0 0 5px 0;
	padding: 0;
	li {
		float: left;
		height: 100%;
		a {
			text-align:center;
			display: block;
			width: 75px;
			height: 100%;
			font-size: 10px;
			color: #eeeeee;
			&:hover {background-color: darken($colour_four, 10%);}
		}
	}
}

.digg_pagination {
  display: block;
  float: right;
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }


.forum_extra_nav {
	display: block;
	width: 100px;
	height: 24px;
	padding-top: 2px;
	text-align: center;
	float: left;
	background-color: $colour_four;
	a {
		color: #eeeeee;
		&:visited {color: #eeeeee;}
		&:hover {color: #bbbbbb;}
	}
}	

.forum_spacer {
	width: 100%;
	height: 25px;
}

.fpost_content {
	background-color: $colour_four;
	color: #eeeeee;
	padding: 5px;
}

.fpost_date {
	height: 15px;
	font-size: 14px;
	color: #333333;
	.date_to_left {
		float: left;
	}
	.fpost_number {
		float: right;
	}
}

.fpost_user_right {
	height: 60px;
	.user_arrow {
		display: block;
		width: 40px;
		height: 40px;
		background-color: $colour_four;
		float: right;
		margin-right: 100px;
		background-image: url('/assets/fpost_mask_right.png');
	}
	.user_photo {
		display: block;
		height: 50px;
		width: 50px;
		margin-top: 10px;
		margin-right: 10px;
		float: right;
	}
	.fpost_user {
		margin-top: 10px;
		height: 50px;
		width: 775px;
		display: block;
		float: left;
		.fpost_username {
			font-size: 20px;
			font-weight: bold;
			text-align: right;
			float: right;
		}
		.online_box {
			width: 5px;
			height: 5px;
			background-color: green;
			float: left;
			margin: 7px 5px 0px 10px;
		}
		.fpost_member_since {
			float: left;
			text-align: left;
		}
	}
}

.fpost_user_left {
	height: 60px;
	.user_arrow {
		display: block;
		width: 40px;
		height: 40px;
		background-color: $colour_four;
		float: left;
		margin-left: 100px;
		background-image: url('/assets/fpost_mask_left.png');
	}
	.user_photo {
		display: block;
		height: 50px;
		width: 50px;
		margin-top: 10px;
		margin-left: 10px;
		float: left;
	}
	.fpost_user {
		margin-top: 10px;
		height: 50px;
		width: 775px;
		display: block;
		float: right;
		.fpost_username {
			font-size: 20px;
			font-weight: bold;
			text-align: left;
			float: left;
		}
		.online_box {
			width: 5px;
			height: 5px;
			background-color: green;
			float: left;
			margin: 7px 5px 0px 10px;
		}
		.fpost_member_since {
			float: right;
			text-align: right;
		}
	}
}