// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$colour_two: #c96d37;

h1 {
	display: block;
	font-size: 2em;
	margin: 5px 0 15px 0;
	font-weight: bold;
}

.user_wrapper {
	background-color: #eeeeee;
	color: #333333;
	margin: 0;
	padding: 15px;
	a {
		color: #444444;
		&:hover {color: #913533;}
	}
}
.user_nav {
	height: 20px;
	width: 100%;
	background-color: $colour_two;
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		float: left;
		height: 100%;
		a {
			text-align:center;
			display: block;
			width: 60px;
			height: 100%;
			font-size: 10px;
			color: #eeeeee;
			&:hover {background-color: darken($colour_two, 10%);}
		}
	}
}

.users_table {
	width: 100%;
	th {
		text-align: left;
	}
}

.userpage_header {
	display: block;
	height: 60px;
	.userpage_gravatar {
		float: left;
	}
	.userpage_name {
		float: left;
		margin-left: 20px;
		margin-top: 10px;
		.userpage_realname {
			color: #bbbbbb;
		}
	}
}